

.item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
}
.red {
  composes: item;
  background-color: red;
}
.green {
  composes: item;
  background-color: green;
}
.status {
  display: inline-block;
  width: 5px;
  height: 5px;
  /* border: 1px solid rgb(62, 59, 58); */
  border: none;
  border-radius: 50%;
}

/* className={isOnline ? css.green : css.red} */
